# Python
*.pyc
__pycache__

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.log

# Environment variables
.env

# Virtual environment
venv/
.env/

# Django static and media files
staticfiles/
media/

# System files
.DS_Store
Thumbs.db
